<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron"  style="padding:40px;">
      <h1>ありがとうございました。応募終了しました。</h1>
    </br>
  </br>
      <h2>ကျေးဇူးတင်ပါတယ်</h2>
<h2>confirmation mail ပို့ပါလိမ့်မယ်</h2>

<h2>၂ရက်ကနေသုံးရက်အတွင်း အင်တာဗျူး ဖြေ ဖို့ ဖုန်းခေါ်ပါလိမ့်မယ်။</h2>

<h2>တစ်ခါတစ်လေ မှာ ဖုန်းမခေါ်ပဲ email ပို့ပြီ interview ဖြေရမယ့်နေရာ အချိန် နဲ့ ယူရမယ့် ပစ္စည်းတွေကို ပို့ပေးတာတွေရှိပါတယ်</h2>

<h2>အဲ့တာကြောင့် လျှောက်ပြီးတာနဲ့

၁။ မသိတဲ့ဖုန်းဝင်လာရင်လည်းကိုင်ပေးစေချင်ပါတယ်

၂။ လျှောက်ပြီးတာနဲနောက်နေ့ အတွင်း အမြန်ဆုံး email ပို့တတ်လို့ email ကို အမြဲ check ပေးစေချင်ပါတယ်</h2>
    </div>


    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>
</html>
