<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron"  style="padding:40px;">
      <h1>ありがとうございました。別のタブで　応募してます。次に　青い　ボタン　を　押して　終了となります。</h1>
      <h1>Your application is processing in different tab . Please click the blue button .</h1>
    </div>

</body>
</html>
